venv/
.env
.env.*
__pycache__/
*.pyc
*.pkl
*.index
vector_cache/
instance/
.google-vision-key.json
shine-466907-09b8909d49ec.json
credentials.json
service-account.json
*.log
*.bak
*.db
# Ignore Elastic Beanstalk config except YAML
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
