pip
setuptools
wheel
flask
numpy==1.24.3
Pillow==10.0.1
torch==2.0.1
torchvision==0.15.2
faiss-cpu==1.7.4
scikit-learn
# Optional: Add Flask extensions if used in your app
flask-cors==3.0.10
# flask-jwt-extended
# flask-restful
google-cloud-vision